[submodule "issue/future-imports-must-be-at-beginning/cygport-wrapper"]
	path = issue/future-imports-must-be-at-beginning/cygport-wrapper
	url = https://github.com/phdye/cygport-wrapper
[submodule "issue/multiple-entrypoints/dlocate"]
	path = issue/multiple-entrypoints/dlocate
	url = https://github.com/phdye/dlocate
